<!DOCTYPE html>
<html>
<head>
    <title>Добавить книгу</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/js/addBook.js"></script> <!-- Подключение  скрипта -->
</head>
<body>
<h1>Добавить книгу</h1>
<form id="addBookForm">
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required>

    <label for="title">Название:</label>
    <input type="text" id="title" name="title" required>

    <label for="author">Автор:</label>
    <input type="text" id="author" name="author" required>

    <label for="genres">Жанры:</label>
    <input type="text" id="genres" name="genres">

    <button type="submit">Добавить книгу</button>
</form>

<div id="responseMessage"></div>
</body>
</html>
